* {box-sizing: border-box;}

body {
	background-image: url('../images/ice_age.png');
	margin: 0;
}



/*Header*/
header{
	position: relative;
	padding: 3% 15% 6% 15%;
	display: block;
}

#logo-image {
	position: absolute;
	display: inline-block;
	width: 30%;
	bottom: 0;
}



/*Navigation Bar*/
nav {
	position: absolute;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	width: 40%;
	right: 15%;
	bottom: 0;
}

nav ul {
	display: inline;
	list-style-type: none;
    overflow: hidden;
    text-transform: uppercase;
    text-align: right;
    float: right;
    vertical-align: baseline;
    width: 100%;
}

nav li {
	clear: right;
	position: relative;
	display: inline-block;
	letter-spacing: 2px;
	padding-left: 8%;
}

nav li a {
	margin-right:0;
/*	display: inline-block;*/

}

nav li a:link, a:visited {
    color: #686A6B;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

nav li a:hover, a:active {
    text-decoration: none;
    font-weight: 700;
    color: #00adef;
}



/*Type*/
h1 {
	color: #ffffff;
	text-align: right;
	font-size: 33.75px;
	text-transform: uppercase;
}

h2 {
	color: #00adef;
	text-align: left;
	font-size: 22.5px;
	text-transform: uppercase;
/*	font-family: 'Lusitana', serif;
*/	letter-spacing: 2.5pt;
	padding: 0;
	margin-bottom: 10px;
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	}



/*Website's Content*/
.container {
	padding: 2% 15% 2% 15%;
	clear: both;
	color: #686A6B;
	min-height: 100%;
/*	font-family: 'Montserrat', sans-serif;
*//*	font-family: 'Lusitana', serif;
*/		
}

.clear {
	clear:both;
	padding-bottom: 10%;
}



/* Side Bar */
#social-media h2 {
	text-align: right;
}
#social-media {
	width:33%;
	float:right;
}

#social-media ul {
	margin-top: 40px;
	padding: 0;
	list-style-type: none;
	display: block;
	float:right;
}

#social-media li {
	padding-left: 8px;
	float:left;
}

#icon-image {
	width: 100%;
	height: auto;
}



/*Bio Section*/
#bio-image {
	padding-right: 20px;
	padding-bottom: 5px;
	float:left;
	vertical-align: top;
	width: 34%;
	height:auto;
	display: inline;
}

#main-bio {		
	width:65%;
	padding-right: 2%;
	font-size: 12.7px;
	color: #686A6B;
	line-height: 1.5;
	float: left;
	display: inline;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	letter-spacing: .2px;
	overflow: auto;
	}



/* Contact Form */
#contact-form {
	width:65%;
	padding-right: 2%;
	font-size: 12.7px;
	color: #010101;
	line-height: 1.5;
	float: left;
	display: inline;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: .2px;
	background-color: none;
	text-transform: uppercase;
}

.button {
    background-color: #010101;
    padding: 2% 5%;
    font-size: 12.7px;
    border: none;
    color: #00adef;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    margin: 1% 1.5% 0 0;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #00adef;
    color: #010101;
}

.form-control {
  display: block;
  width: 100%;
  height: 30px;
  padding: 2% 2%;
  font-size: 12.7px;
  line-height: 1.5;
  background-color: transparent;
  background-image: none;
  border: 1px solid #686A6B;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  margin: 1% 0 2% 0;
  color: #686A6B;
}

#InputMessage {
	height: 100px;
	resize: none;
	overflow: auto;
}



/*Portfolio Section*/
#portfolio {
	width: 65%;
	color: #010101;
	float:left;
}

img {
	width: 100%;
	padding: 0;
}

.portfolio-image {
	width: 48.5%;
	float: left;
	margin-bottom: 2%;
	position: relative;
	padding-bottom: 0;

}

.portfolio-image2 {
	width: 48.5%;
	float: right;
	margin-bottom: 2%;
	position: relative;
}

.image-description {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: .1px;
	overflow: auto;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	bottom: 8%;
	clear: both;
    width: 100%;   
    background-color:  #00adef;;
    padding: 3% 2%;
    color: white; 
    line-height: 1.3;
    font-size: 12.7px;
}


/* Footer */ 

footer, .push {
	clear:both;
	height: 5%;
	position: fixed;
  	bottom: 0;
  	left: 0;
  	right: 0;
	background-color: #010101;
	padding: 2% 15% 3% 15%;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 11px;
	font-size: 12.7px;

}
